@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
  width: 1020px;
}

/* Header */

.content .header {
  display: flex;
  justify-content: space-between;
  margin-top: 46px;
}

.header .logo {
  display: flex;
}

.header .logo:hover .logo-img {
  background-image: url(../img/logo-hover.png);
}

.header .logo:hover .logo-text {
  color: #f26522;
}

.header .logo .logo-img {
  width: 53px;
  height: 47px;
  margin-right: 8px;
  background-image: url(../img/logo.png);
}

.header .logo-text {
  display: flex;
  flex-direction: column;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 3px;
}

.header .logo-text .logo-text-big {
  font-size: 29px;
  line-height: 1;
}

.header .logo-text .logo-text-small {
  font-size: 18px;
  line-height: 1;
}

.header .logo-link {
  text-decoration: none;
}

.header .contacts {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.header .contacts .link {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  font-family: 'Roboto', sans-serif;
}

.header .contacts .link:first-child {
  margin-bottom: 20px;
}

.header .contacts .link:hover {
  color: #f26522;
}

/* Gallery */

.content .gallery {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 60px;
  grid-row-gap: 78px;
  margin-top: 17px;
}

.gallery .item {
  text-align: center;
  width: 300px;
  height: 220px;
  position: relative;
  flex-direction: column;
  box-sizing: border-box;
  /* opacity: 0.3; */
}

/* .image-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
} */

.gallery .item .image {
  width: 100%;
  height: 100%;
}

.gallery .item:hover .image-description {
  display: flex;
}

.gallery .item:hover .item-txt-link {
  color: #f26522;
}

.gallery .item .image-description {
  content: '';
  display: none;
  /* display: flex; */
  align-items: end;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f26522;
  flex-shrink: 0;
  justify-content: space-between;
  padding-left: 12px;
  padding-bottom: 12px;
  padding-top: 7px;
  padding-right: 14px;
}

.gallery .item .item-img-link {
  color: #fff;
  text-decoration: none;
}

.gallery .item .item-txt-link {
  position: absolute;
  margin-bottom: -32px;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  font-family: 'Roboto', sans-serif;
}

.item .image-description .prise-box {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.item .image-description .prise-box .text {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  color: #ffffff;
}

.item .image-description .details {
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}

.image-description .details::after {
  content: url(../img/arrow.svg);
  margin-left: 16px;
}

/* .image-text:hover::after {
  content: '';
  position: absolute;
  height: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;

  display: inline-block;
  color: #fff;
} */

/* Footer */

.footer {
  text-align: center;
  margin-top: 90px;
  margin-bottom: 15px;
}

.footer .copyright {
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: #fff;
}
