@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
  width: 1020px;
}

.header .logo-text,
.header .contacts .link,
.gallery .item .item-img-link,
.gallery .item .item-txt-link,
.item .image-description .prise-box,
.footer .copyright {
  color: #fff;
}

.header .contacts .link:hover,
.header .logo:hover .logo-text,
.gallery .item:hover .item-txt-link {
  color: #f26522;
}

.header .contacts .link,
.gallery .item .item-txt-link,
.item .image-description .prise-box .text,
.item .image-description .details,
.footer .copyright {
  font-weight: 400;
}

.header .logo-link,
.header .contacts .link,
.gallery .item .item-img-link,
.gallery .item .item-txt-link {
  text-decoration: none;
}

/* Header */

.content .header {
  display: flex;
  justify-content: space-between;
  margin-top: 46px;
}

.header .logo {
  display: flex;
}

.header .logo:hover .logo-img {
  background-image: url(../img/logo-hover.png);
}

.header .logo .logo-img {
  width: 53px;
  height: 47px;
  margin-right: 8px;
  background-image: url(../img/logo.png);
}

.header .logo-text {
  display: flex;
  flex-direction: column;
  margin-top: 3px;
  font-weight: 700;
  text-transform: uppercase;
}

.header .logo-text .logo-text-big {
  font-size: 29px;
  line-height: 1;
}

.header .logo-text .logo-text-small {
  font-size: 18px;
  line-height: 1;
}

.header .contacts {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.header .contacts .link {
  line-height: 1;
  font-size: 18px;
}

.header .contacts .link:first-child {
  margin-bottom: 20px;
}

/* Main */

.content .gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 78px 60px;
  justify-content: center;
  margin-top: 17px;
}

.gallery .item {
  position: relative;
  text-align: center;
}

.gallery .item .hover-img-container {
  position: relative;
  overflow: hidden;
}

.gallery .item .image {
  width: 300px;
  height: 220px;
  box-sizing: border-box;
  border: 1px solid #fff;
  border-image: linear-gradient(#fff, #000) 1;
}

.gallery .item:hover .image-description {
  top: 167px;
  box-shadow: -4px -4px 30px -9px rgba(0, 0, 0, 0.67);
}

.gallery .item .image-description {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin: 0 1px;
  padding: 7px 14px 12px 12px;
  background-color: #f26522;
  transition: all 0.3s ease-out;
}

.gallery .item .item-txt-link {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: -32px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1;
}

.item .image-description .prise-box {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.item .image-description .prise-box .text {
  margin-bottom: 8px;
  font-size: 10px;
  line-height: 1;
}

.item .image-description .details {
  font-size: 14px;
}

.image-description .details::after {
  content: url(../img/arrow.svg);
  margin-left: 16px;
}

/* Footer */

.footer {
  margin: 90px 0 15px 0;
  text-align: center;
}

.footer .copyright {
  font-size: 12px;
  line-height: 1;
}
