@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');

body {
  background-color: #3a4965;
}

.table-box {
  background-color: #fff;
  width: 1156px;
  position: absolute;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
}

.table-box .table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Arimo', sans-serif;
  border-spacing: 0;
  text-align: center;
  vertical-align: middle;
  color: #484848;
  text-transform: uppercase;
}

.table-box .table .col-1 {
  width: 313px;
}
.table-box .table .col-2 {
  width: 284px;
  border-left: 1px solid #d3d3d3;
}
.table-box .table .col-3 {
  width: 283px;
  border-left: 1px solid #d3d3d3;
}
.table-box .table .col-4 {
  width: 277px;
  border-left: 1px solid #d3d3d3;
}

.table-box .table .table-header {
  background-color: #fafafa;
}

.table .first-table-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.table .first-table-box .subtitle {
  display: inline-block;
  padding-top: 51px;
  padding-bottom: 2px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.56;
}

.table .first-table-box .title {
  padding-bottom: 45px;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
}

.table .table-header .col-1-title,
.table .table-header .col-2-title,
.table .table-header .col-3-title {
  height: 73px;
  vertical-align: middle;
  font-weight: 700;
  line-height: 1.17;
  color: #fff;
}

.table .table-header .col-1-title {
  font-size: 24px;
  background-color: #89c331;
  border-right: 1px solid #89c331;
}
.table .table-header .col-2-title {
  font-size: 30px;
  background-color: #f04a56;
  border-right: 1px solid #f04a56;
}
.table .table-header .col-3-title {
  font-size: 24px;
  background-color: #20807c;
  border-right: 1px solid #20807c;
}

.price-box {
  position: relative;
  width: 280px;
  height: 89px;
}
.first-price {
  position: absolute;
  bottom: 10px;
  left: 33px;
  font-weight: 700;
  font-size: 60px;
}
.second-price {
  position: absolute;
  top: 12px;
  right: 115px;
  font-weight: 700;
  font-size: 24px;
}

.price-text {
  position: absolute;
  top: 37px;
  right: 35px;
  font-weight: 400;
  font-size: 18px;
}

.table .item {
  vertical-align: middle;
  padding-top: 22px;
  padding-bottom: 22px;
}

.table .item i {
  color: #848484;
}

.main tr:nth-child(odd) {
  background: #f2f2f2;
}
.main tr:nth-child(even) {
  background: #e3e3e3;
}

.first-footer-box {
  background-color: #ddd;
}

.footer .button {
  position: relative;
  display: inline-block;
  border-radius: 5px 5px;
  border: none;
  width: 196px;
  padding: 20px 0 8px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  margin: 30px 0;
  transition: background-color 0.5s;
}

.footer .btn-1 {
  background-color: #484848;
  border-bottom: 9px solid #404040;
}

.footer .btn-2 {
  background-color: #89c331;
  border-bottom: 9px solid #79b027;
}

.footer .btn-3 {
  background-color: #f04a56;
  border-bottom: 9px solid #df3a46;
}

.footer .btn-4 {
  background-color: #20807c;
  border-bottom: 9px solid #16736f;
}
