@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #3a4965;
}

.wrapper .table-box {
  width: 1162px;
}

.table-box .table {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  font-family: 'Arimo', sans-serif;
  border-spacing: 0;
  border-collapse: collapse;
  color: #484848;
  text-transform: uppercase;
  background-color: #fafafa;
}

.table-box .table td {
  vertical-align: middle;
}

.table-box .table .col-1 {
  width: 200px;
  box-sizing: border-box;
}
.table-box .table .col-2,
.table-box .table .col-3,
.table-box .table .col-4,
.table-box .table .col-5,
.table-box .table .col-6,
.table-box .table .col-7 {
  width: 160px;
  box-sizing: border-box;
}

.table-box col:nth-child(even) {
  background-color: #e3e3e3;
}

.table-box col:nth-child(odd) {
  background-color: #f2f2f2;
}

.table .main tr:not(:last-child) {
  border-bottom: 1px solid #d3d3d3;
}

.table-box .table .table-header {
  border-bottom: 10px solid #3a4965;
}

.table-header .first-table-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 34px 14px 34px 14px;
}

.table-header first-table-box .subtitle {
  display: inline-block;
  margin-bottom: 3px;
  font-weight: 700;
  font-size: 14px;
}

.table-header .first-table-box .title {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
}

.table-header .header-item-box {
  display: flex;
  flex-direction: column;
}

.table-header .header-item-box i {
  font-size: 24px;
  color: #848484;
}

.table-header .header-item {
  display: inline-block;
  margin-top: 5px;
  line-height: 1.17;
  font-size: 20px;
  font-weight: 700;
}

.main .pricing-info-box-1 {
  background-color: #89c331;
  border-bottom: 1px solid #89c331;
}
.main .pricing-info-box-2 {
  background-color: #f04a56;
  border-bottom: 1px solid #f04a56;
}
.main .pricing-info-box-3 {
  background-color: #20807c;
  border-bottom: 1px solid #20807c;
}

.main .pricing-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 24px 13px;
  color: #fff;
  box-sizing: border-box;
}

.main .pricing-info .title {
  line-height: 1.17;
  font-weight: 700;
  font-size: 24px;
}

.main .pricing-info .price-box {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.pricing-info .price-box .first-price {
  font-weight: 700;
  font-size: 36px;
}

.pricing-info .price-box .second-price {
  position: absolute;
  top: -2px;
  left: 60px;
  font-weight: 700;
  font-size: 18px;
}

.pricing-info .price-box .price-text {
  font-weight: 700;
  font-size: 14px;
  margin-left: 30px;
}

.main .pricing-info .button {
  display: inline-block;
  width: 147px;
  height: 44px;
  margin: 0;
  margin-top: 14px;
  padding: 0;
  border-radius: 5px 5px;
  border: none;
  border-bottom: 6px solid #343434;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  color: #fff;
  background-color: #414141;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.5s;
}

.main .item-text {
  display: block;
  margin-bottom: 10px;
}
