@import url('http://fonts.cdnfonts.com/css/circe');
@import url('http://fonts.cdnfonts.com/css/gilam');

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 38px;
  padding-bottom: 120px;
}
